.line {
  height: 114px;
  border-bottom: 1px solid #e5e5e5;
}

.product-detail {
  display: flex;
  gap: 20px;
}

.product-detail__slide {
  width: 60%;
}

/* Main Slider */
.main-slider {
  width: 100%;
  overflow: hidden;
}

.slider-thumbnail xo-carousel-slide[xo-active] .slide__item {
  background-color: #cccccc5b;

}

.slider-thumbnail .slide__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 10px;
}

.slider-thumbnail .slide__item:hover {
  border: 1px solid #ccccccbd;
}

.slide__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-detail__infor {
  width: 40%;
  padding: 73px;
  padding-top: 87px;
  padding-right: 0;
  padding-bottom: 10px;
}

.product-detail__sub {
  margin: 0;
  color: #1e1e1e;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
}

.product-detail__title {
  font-size: 47px;
  margin: 0;
  margin-top: 16px;
  line-height: 58px;
  padding-right: 40px;
  letter-spacing: -1.1px;
}

.product-detail__des {
  font-size: 17px;
  color: #1e1e1e;
  opacity: 0.7;
  width: 500px;
}

.product-detail__price {
  font-size: 19px;
  margin-bottom: 33px;
}

.product-detail__price span {
  color: #1e1e1e;
  opacity: 0.5;
  font-size: 16px;
}

.product-detail__name {
  color: #1e1e1e;
  opacity: 0.5;
  font-size: 13px;
  margin: 0;
  letter-spacing: -0.3px;
  font-weight: 500;
}

.prduct-detail__select-devide {
  display: flex;
  gap: 7px;
  width: 358px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.input-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 413px;
  height: 50px;
  border: 1px solid #0f5fff6b;
  border-radius: 25px;
  padding: 2px 15px;
  margin-top: 35px;
}

/* Nút tăng/giảm */
.input-number__btn {
  background: none;
  border: none;
  font-size: 32px;
  color: #8ab4f8;
  cursor: pointer;
}

.input-number__btn:hover {
  color: #0f61ff;
}

.input-number__value {
  width: 50px;
  text-align: center;
  font-size: 19px;
  color: #007bff;
  border: none;
  outline: none;
  background: none;
  font-weight: 500;
}

.product-detail__button {
  display: flex;
  gap: 7px;
  margin-top: 7px;
  margin-bottom: 60px;
}

.product-detail__add {
  background-color: transparent;
  border: 1px solid #0f5fff6b;
  color: #0f61ff;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.product-detail__add:hover {
  background-color: #8ab4f8;
  color: white;
}

.product-detail__buy {
  padding: 0px 100px !important;
}

.product-detail__buy:hover {
  background-color: #6297f3;
}

.accordion {
  width: 100%;
  border-top: 1px solid #ddd;
}

.accordion__item {
  border-bottom: 1px solid #ddd;
  padding: 26px 0;
}

.accordion__header {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #1E1E1E;
  padding-right: 14px;
  border-top: 1px solid #E5E5E5;
  padding: 21px 0;
}

.accordion__content {
  padding: 0;
  font-size: 15px;
  color: #555;
  padding-bottom: 23px;
}

.accordion__content ul {
  padding-left: 33px;
  margin: 0;
}

.accordion__content p {
  margin: 0;
  padding: 5px 0;
}

.accordion2__item:hover .icon__plus {
  transform: rotate(180deg);
}

.accordion__header:hover .icon__plus {
  transform: rotate(180deg);
}

.icon .icon__plus {
  transition: 0.3s;
  display: block;
}

.icon .icon__minus {
  display: none;
}

xo-collapse-trigger[xo-active] .icon__plus {
  display: none;
}

xo-collapse-trigger[xo-active] .icon__minus {
  display: block;
}

.specification {
  aspect-ratio: 1.77;
  box-sizing: border-box;
  padding: 79px 0;
}

.specification xo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.specification__title {
  margin: 0;
  width: 515px;
  font-size: 29px;
  color: white;
  font-weight: 600;
}

.specification__content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 22px;
}

.specification__left {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 39px;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 16px;
}

.specification__left p {
  color: #1E1E1E;
  opacity: 0.5;
  margin: 0;
}

.specification__left h3 {
  font-size: 75px;
  margin: 0;
}

.specification__center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  padding-right: 19px;
}

.specification__item {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
  padding-right: 65px;
  font-size: 18px;
}

.specification__item-attr {
  color: #1E1E1E;
  opacity: 0.6;
}

.specification__right {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-image: url("assets/images/banner-detail1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.customization {
  text-align: center;
  padding-top: 90px !important;
  padding-bottom: 79px !important;
}

.customization__name {
  color: #1E1E1E;
  opacity: 0.5;
  font-weight: 600;
  font-size: 14px;
}

.customization__title {
  font-size: 45px;
  width: 500px;
  margin: 0 auto;
  margin-top: 9px;
}

.customization .customization__product {
  width: 508px;
  margin-top: 58px;
}

.customization__carousel {
  width: 782px;
  margin: 0 auto;
}

.customization__carousel xo-carousel-pagination {
  justify-content: space-between;
}

.customization__carousel xo-carousel-bullet {
  width: 100%;
}

.customization__carousel .carousel-bullet {
  background-color: #E5E5E5;
  height: 2px;
  width: 100%;
  border-radius: 5px;
}

.customization__carousel xo-carousel-bullet[xo-active] .carousel-bullet {
  background-color: #0F61FF;
  height: 2px;
  width: 200%;
}

.customization__navigate {
  background-color: white;
  width: 782px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 57px;
  box-sizing: border-box;
  border-radius: 19px;
}

.customization__material {
  display: flex;
  align-items: center;
  width: 157px;
  margin: 0 auto;
  margin-top: 17px;
}

.customization__material span {
  font-size: 14px;
  color: #1E1E1E;
  opacity: 0.5;
  font-weight: 500;
}

.customization__list {
  width: fit-content;
  margin: 0 auto;
  margin-top: 19px;
  width: 300px;
}

.customization__item {
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}

.customization__item span {
  color: #0F61FF;
  font-size: 13px;
  margin-top: 9px;
}

.customization__img {
  background-image: url("assets/images/products/customization1.jpg");
  width: 38px;
  height: 38px;
  background-position: center;
  border-radius: 50%;
}

.customization__list xo-carousel-slide {
  padding: 10px 0;
}

.customization__list xo-carousel-slide[xo-active] .customization__item .customization__img {
  outline: 1px solid #0F61FF;
  outline-offset: 2px;
}

.faq {
  width: 876px !important;
  margin: 0 auto;
  margin-top: 80px !important;
  margin-bottom: 136px !important;
}

.faq__title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 30px;
}

.accordion2 {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.accordion2__item {
  background-color: #F6F6F6;
  padding: 26px 31px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.accordion2__header {
  width: 100%;
  background: none;
  border: none;
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #1E1E1E;
  text-align: start;
}

.accordion2__content {
  padding: 0;
  font-size: 15px;
  color: #555;
  width: 60%;
  margin-top: 4px;
}

.accordion2__content p {
  margin: 0;
  padding: 5px 0;
}

.download {
  display: flex;
  margin-left: 29px;
  margin-top: 21px;
}

.download__item {
  margin-right: 34px;
  cursor: pointer;
}

.download__item .download__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.download__name img {
  margin-left: 3px;
  transition: 0.3s;
}

.download__item:hover img {
  transform: translateY(5px);
}

.download__item span {
  font-size: 15px;
  font-weight: 500;
  color: #1E1E1E;
  opacity: 0.5;
}

.feature-collection {
  margin-bottom: 109px !important;
}

.feature-collection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.feature-collection__header h2 {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
}

.feature-collection__header a {
  font-size: 16px;
  color: #0f61ff;
  font-weight: 500;
  padding: 12px 27px;
  border-radius: 45px;
  background: white;
  border: 1px solid #0f61ff;
  margin-right: 16px;
}

@media (min-width: 1200px) and  (max-width: 1500px) {
  .product-detail__slide {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }

  .product-detail__slide {
    width: 100%;
  }

  .product-detail__infor {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }

  .product-detail__des {
    width: 100%;
  }

  .prduct-detail__select-devide {
    flex-direction: column;
  }

  .input-number {
    width: auto;
  }

  .product-detail__button {
    flex-direction: column;
  }

  .specification {
    aspect-ratio: 0;
  }

  .specification__content {
    flex-direction: column;
  }

  .specification__title {
    font-size: 29px;
    font-weight: 500;
    width: 100%;
  }

  .specification__center {
    width: 100%;
  }

  .specification__left {
    width: 100%;
    padding-left: 0;
  }

  .specification__left h3 {
    font-size: 60px;
  }

  .specification__item {
    padding-right: 0;
  }

  .specification__right {
    width: 100%;
    height: 215px;
  }

  .specification xo-container {
    gap: 50px;
  }

  .customization__navigate {
    width: 100%;
  }

  .customization .customization__product {
    width: 100%;
  }

  .customization__title {
    width: 100%;
    font-size: 40px;
  }

  .faq {
    width: auto !important;
    margin-top: 10px;
  }

  .faq__title {
    width: 100%;
  }

  .accordion2__item {
    width: auto;
  }

  .accordion2__content {
    width: auto;
  }

  .download {
    display: none;
  }

  .feature-collection__header a {
    display: none;
  }

  .customization__carousel {
    width: 100%;
  }

  .product-detail__buy {
    padding: 18px 50px !important;
  }

  .introduce-cases {
    margin-top: 50px !important;
  }
}