.banner {
  aspect-ratio: 3.75;
  position: relative;
}

.banner h1 {
  position: absolute;
  margin: 0;
  font-weight: 700;
  color: #fff;
  font-size: 96px;
  bottom: 64px;
  left: 163px;
  letter-spacing: -5px;
  display: flex;
  gap: 1px;
}

.banner .banner__count {
  position: absolute;
  font-size: 14px;
  left: 522px;
  bottom: 157px;
  color: white;
  opacity: 0.4;
}

.category {
    margin-top: 57px;
}

.category__title {
    font-size: 29px;
    margin: 0;
}

.category__des {
    color: #1E1E1E;
    opacity: 0.8;
    font-size: 15px;
    width: 337px;
}

.category__list {
    position: relative;
    margin-top: 40px;
}

.category__item{
  background-color: #F7F7F8;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-radius: 8px;
  border: 1px solid transparent;
}

.category__item--select {
    border: 1px solid #848484;
}

.category__item:hover{
  border: 1px solid #848484;
}

.category__item img{
    width: 78px;
}

.category__name {
    color: #1E232B;
    font-size: 16px;
}

.category__list a {
    display: block;
}

.navigate-button {
    position: absolute;
    background: linear-gradient(270deg, #FFF 78.28%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    align-items: center;
    right: 0;
    gap: 16px;
    height: 110px;
    padding-left: 131px;
  }
  
  .navigate-button div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #F6F6F6;
    border-radius: 50%;
  }

  .fs {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
  }

  .fs__filter {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
  }

  .filter__modal {
    width: 450px;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    padding: 24px 40px;
  }

  .filter__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
  }

  .filter__title span {
    cursor: pointer;
    font-size: 20px;
  }

  .filter__title h2 {
    font-size: 37px;
    margin: 0;
  }

  .filter__content-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter__content-button button {
    border: none;
    font-size: 20px;
  }

  .button__apply {
    background-color: #0f61ff;
    padding: 18px 27px;
    border: 1px solid #0f61ff !important;
    border-radius: 30px;
  }

  .button__clear {
    background: transparent;
    height: fit-content;
    cursor: pointer;
    color: #0f61ff;
  }

  .filter__content-item {
    border-top: 1px solid #e5e5e566;
    padding-bottom: 18px;
  }

  .filter__content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .filter__content-title h3{ 
    font-size: 24px;
    font-weight: 500;
  }

  .filter__content-title span {
    rotate: -90deg;
  }

  .filter__content-checkbox {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .filter__content-checkbox i {
    font-style: normal;
    opacity: 0.4;
    color: #1E1E1E;
  }

  .filter__content-checkbox input {
    font-style: normal;
    width: 18px;
    height: 18px;
  }

  .filter__content-price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 12px;
  }

  .fs__sort {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    opacity: 0.8;
    cursor: pointer;
  }

  .fs__sort span {
    opacity: 0.5;
    margin-right: 8px;
  }

  .xo-sort-select__content {
    width: 300px;
    background-color: white;
    padding: 12px;
  }

  .xo-sort-select__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
  }

  .xo-sort-select__item:hover {
    color: #0f61ff;
  }

  .xo-sort-select__item div{
    width: 38px;
    height: 38px;
  }

  .xo-sort-select__item--selected {
    color: #0f61ff;
  }

  .xo-sort-select__item--selected div img{
    display: none;
  }

  .service {
    margin-top: 58px;
    margin-bottom: 41px;
  }

  .service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F8;
    padding: 46px 90px;
    padding-top: 43px;
    text-align: center;
    cursor: pointer;
  }
  
  .service__item img {
    transition: all 0.2s ease-in-out;
  }

  .service__item:hover img {
    transform: translateY(-13px);
  }

  .service__icon {
    width: 49px;
  }

  .service__title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    padding-top: 14px;
    margin-bottom: 8px;
  }

  .service__description {
    margin: 0;
  }

@media screen and (max-width: 992px) {
  .banner {
    aspect-ratio: 0.85;
  }

  .banner h1 {
    font-size: 66px;
    bottom: 12px;
    left: 13px;
    letter-spacing: 0;
  }

  .banner .banner__count {
    font-size: 12px;
    left: 291px;
    bottom: 71px;
  }

  .category {
    display: none;
  }

  .service__item {
    padding: 46px 15px;
  }

  .filter__modal {
    width: 330px;
    padding: 15px 20px;
  }
}
