.banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./assets/images/banner.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.banner__title {
 color: white;
  margin: 0;
  position: absolute;
  bottom: 70px;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(5px, 9.5vw, 213px);
  line-height: clamp(10px, 5vw, 114px);
  letter-spacing: clamp(-1px, -1vw, -17.04px);
  white-space: nowrap;
}

.seller {
  margin-top: 109px;
}

.seller__title {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
}

.seller__banner {
  background-image: url("assets/images/products/banner-seller.jpg");
  aspect-ratio: 2.27;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 33px;
  border-radius: 45px;
  background: #0f61ff;
}

.introduce-cases {
  padding: 72px 0 !important;
  margin-top: 138px;
}

.introduce-cases__title {
  font-size: 40px;
  width: 484px;
  margin-bottom: 60px;
}

.introduce-cases__slide {
  display: none;
}

.introduce-cases__item {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  cursor: pointer;
  transition: all .4s cubic-bezier(0.11, 0.87, 0.33, 1.12);
  background: none;
}

.introduce-cases__item:hover {
  background: url("assets/images/products/cases2.jpg");
  background-size: cover;
  background-position: center;
}

.introduce-cases__item:hover p{
  color: white;
}

.introduce-cases__item:hover img{
  visibility: hidden;
}

.introduce-cases__item span {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c0bcbc;
  font-weight: 500;
}

.introduce-cases__item p {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  text-align: start;
  margin-top: 38px;
}

.introduce-cases__item img {
  width: 92%;
  margin-top: 30px;
}

.process-bar {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 20px;
  visibility: hidden;
}

.progress-bar__fill {
  width: 60px;
  height: 7px;
  background-color: #0f61ff;
  border-radius: 20px;
}

.progress-bar__step {
  width: 22px;
  height: 7px;
  background-color: #e5e5e5;
  border-radius: 20px;
}

.featured {
  aspect-ratio: 2.38;
  background-size: cover;
  background-position: center;
  padding: 60px 0 !important;
}

.featured .featured__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.featured__title {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  width: 546px;
  margin: 0;
}

.featured-card {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  width: max-content;
  padding: 10px 0px;
  align-items: center;
  width: 511px;
}

.featured-card__infor {
  padding: 0 10px;
}

.featured-card__name {
  color: #1e232b;
  font-weight: 500;
  font-size: 19px;
}

.featured-card__des {
  color: #1e1e1e;
  font-weight: 500;
  opacity: 0.6;
  margin: 0;
  margin-top: 7px;
  width: 80%;
}

.featured-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.featured-card__price-new {
  color: #1e1e1e;
}

.featured-card__price-old {
  color: #1e1e1e;
  opacity: 0.3;
  margin-left: 5px;
}

.featured-card__add-cart {
  color: #fff;
  padding: 17px;
  background-color: #0f61ff;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 200;
  cursor: pointer;
  display: flex;
}

.featured-card__add-cart img {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  width: 22px;
}

.featured-card__add-cart:hover img {
  transform: rotate(180deg);
}

.featured-card__img {
  width: 144px;
}

.featured-collection {
  margin-top: 96px;
}

.xo-hover-bg {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.xo-hover-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-hover,#ccc);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

.xo-hover-bg:hover::before {
  transform: scale(1.1);
}

.xo-hover-bg > * {
  position: relative;
  z-index: 1;
}

.featured-collection__left p {
  color: #fff;
  font-weight: 600;
  font-size: 37px;
  width: 50%;
  margin: 0;
  margin-top: 37px;
  margin-left: 41px;
  z-index: 1;
}

.featured-collection__list {
  flex: 1;
}

.test-imonials {
  position: relative;
  margin-top: 130px !important;
  height: 626px;
  overflow: hidden;
}

.test-imonials__title {
  color: #1e232b;
  font-size: 39px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  width: 270px;
  margin: 0;
}

.navigate-button {
  display: flex;
  gap: 7px;
  margin-top: 17px;
}

.navigate-button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #1e1e1e33;
  border-radius: 50%;
}

.test-imonials__user {
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  background-position: 2px -1px;
  width: var(--width-image-user);
  background-image: var(--url-user);
  top: var(--top);
  left: var(--left, auto);
  right: var(--right, auto);
}

.review__content-overlay {
  position: absolute;
  top: -20px;
  left: -21px;
  right: -18px;
  bottom: -20px;
  border-radius: 82px;
  background: rgba(19, 90, 178, 0.50);
  filter: blur(32px);
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}

.comment {
  position: absolute;
  top: 58px;
  left: 707px;
  display: flex;
  width: 446px;
  padding: 31px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  border-radius: 20px;
  background: #f6f6f6;
}

.comment__title {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
}

.comment__user-name {
  margin: 0;
  font-size: 17px;
  color: #1e1e1e;
  opacity: 0.8;
}

.collection-list {
  margin-top: 128px;
  margin-bottom: 75px !important;
}

.collection-list__item {
  box-sizing: border-box;
  aspect-ratio: 1.91;
  border-radius: 17px;
  padding: 41px;
  cursor: pointer;
  transition: background-size 0.3s ease-in-out;
  overflow: hidden;
}

.collection-list__item:hover a{
  display: block;
}

.collection-list__item a {
  display: none;
}

.collection-list__title {
  line-height: 23px;
  font-size: 29px;
  margin: 0;
  margin-bottom: 39px;
  font-weight: 500;
}

.comp {
  height: 100px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}


xo-carousel-pagination {
  gap: 4px;
  justify-content: center;
  margin-top: 20px;
}

.carousel-bullet {
  display: block;
  width: 22px;
  height: 7px;
  background-color: #e5e5e5;
  border-radius: 20px;
}

xo-carousel-bullet[xo-active] .carousel-bullet {
  width: 60px;
  height: 7px;
  background-color: #0f61ff;
  border-radius: 20px;
}

.review {
  padding: 55px 0;
}

.review__content {
  position: relative;
  padding-bottom: 427px;
} 

.review__title h2 {
  max-width: 260px;
  font-size: 42px;
  font-style: normal;
  color: #1E232B;
  font-weight: 600;
  letter-spacing: -2.1px;
}

.review__content-list {
  position: relative;
}

.review__content-des {
  position: absolute;
  left: 95%;
  bottom: 100%;
  width: 512px;
  max-width: 512px;
  padding: 33px 21px 34px 36px;
  background-color: #F6F6F6;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all .3s;
}

.review__content-img:hover .review__content-des {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}

.review__content-des p {
  font-size: 20px;
  color: #1e1e1e;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 13px;
}

.review__content-des span {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  color: #1e1e1e;
  opacity: .8;
}

.review__content-img img{
  border-radius: 50%;
  width: var(--width-image-user);
  height: var(--width-image-user);
}

.review__content-img{
  height: max-content;
  position: absolute;
  cursor: pointer;
}

.review__content-overlay {
  position: absolute;
  top: -20px;
  left: -21px;
  right: -18px;
  bottom: -20px;
  border-radius: 82px;
  background: rgba(19, 90, 178, 0.50);
  filter: blur(32px);
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}

.review__content-img:hover .review__content-overlay {
  opacity: 1;
  transition: all .3s;
}

.review__content-img--1 {
  top: 18px;
  left: 382px;
}

.review__content-img--2 {
  right: 135px;
  bottom: 263px;
}

.review__content-img--3 {
  left: 96px;
  bottom: 172px;
}

.review__content-img--4 {
  top: 160px;
  left: 583px;
}

.review__content-img--5 {
  bottom: 123px;
  left: 882px;
}

.review__content-img--6 {
  left: 356px;
  bottom: 55px;
}

.review__content-img--7 {
  right: 228px;
  bottom: 64px;
}

@media screen and (max-width: 992px) {
  .banner {
    width: 100%;
    height: 500px;
    background-size: cover;
  }

  .featured-collection__left {
    height: 400px;
    flex: auto;
  }

  .featured-collection__left p {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    width: 100%;
  }

  .featured__title {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    width: 100%;
    margin: 0;
  }

  .featured-card {
    flex-direction: column;
    width: 70%;
    padding: 10px;
  }

  .featured {
    aspect-ratio: 0;
    padding: 50px 0 !important;
    height: 100vh;
  }

  .featured-card__des {
    margin-top: 10px;
    width: auto;
  }

  .featured .container-main {
    align-items: center;
  }

  .featured-card__img {
    width: 222px;
    margin-bottom: 20px;
  }

  .review__content-img--1, .review__content-img--3, .review__content-img--6{
    display: none;
  }

  .review__content-img--2 {
    left: 16px;
  }

  .review__content-img--4 {
    left: 16px;
    top: 250px;
  }

  .review__content-img--5 {
    right: 0;
    left: auto;
    top: 60px;
    bottom: auto;
  }

  .review__content-img--5 .review__content-des {
    right: 33px;
    top: -73px;
    left: auto;
    bottom: auto;
  }

  .review__content-img--7 .review__content-des {
    right: 47px;
    bottom: -36px;
    left: auto;
    top: auto;
  }

  .review__content-img--7 {
    right: 0;
    bottom: 52px;
  }

  .review__content-des {
    max-width: 263px;
    padding: 24px 33px 25px 28px;
}

.introduce-cases {
  margin-top: 30px;
}

.seller__banner
{
  aspect-ratio: 1.5;
}
}
@media (max-width: 576px) {
  .introduce-cases__title {
    font-size: 30px;
    width: auto;
  }

  .introduce-cases__item p {
    width: 90%;
    font-size: 23px;
    padding: 0 15px;
    margin-top: 20px;
  }

  .process-bar {
    visibility: visible;
  }

  .banner__title {
    margin-left: 15px;
    bottom: 35px;
  }

  .collection-list__item {
    aspect-ratio: 3/4;
  }
}

@media (max-width: 768px) {
  .introduce-cases__list {
    display: none;
  }

  .introduce-cases__slide {
    display: block;
  }
} 
