.card-product {
  background: #fff;
  border-radius: 15px;
  padding: 29px 0px;
  text-align: center;
  background-color: #f7f7f8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.card-product img {
  width: 100%;
  height: auto;
  margin-top: 23px;
  margin-bottom: 5px;
}

.card-product__name {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  margin-top: -3px;
  margin-bottom: 6px;
}

.card-product__price {
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 400;
}

.list-color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 25px;
}

.list-color__item {
  width: var(--item-width, 14px);
  height: var(--item-width, 14px);
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: var(--color-item);
}

.list-color__item--select {
  position: relative;
  border: 2px solid transparent;
  outline: 1px solid var(--color-item);
  outline-offset: 2px;
}

@media (max-width: 576px) {
  .list-color {
    display: none !important;
  }
}
