.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  width: fit-content;
  margin: 0 auto;
  margin-top: 61px;
}

.pagination__arrow {
  border: none;
  background: none;
  font-size: 27px;
  cursor: pointer;
  color: #000;
}

.pagination__arrow[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.pagination__number {
  border: none;
  font-size: 16px;
  background: #fff;
  color: #007bff;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
}

.pagination__number:hover {
  background: rgba(0, 123, 255, 0.1);
}

.pagination__number--active {
  background: #007bff;
  color: white;
  font-weight: 500;
}

.pagination__dots {
  font-size: 16px;
  color: #007bff;
  padding: 8px;
}

@media (max-width: 768px) {
  .pagination {
    gap: 1px;
  }
}